<h1>Links#new</h1>

<%=form_for @link, url: {action: "create"} do |f| %>
<%= label_tag :name %>
<%= f.text_field :name %>
<%= label_tag :url %>
<%= f.text_field :url %>
<%= f.submit "Create" %>
<%=  %>

<% end %>
